/*----------Sidebar page----------*/


.side_bar_content .gx-popover-scroll>div:first-child {
    overflow-x: hidden !important;
    margin-right: 0 !important;
}

.side_bar_content .gx-popover-scroll>div:first-child::-webkit-scrollbar {
    width: 0px;
}

.side_bar_main .gx-mr-3 {
    margin-right: 15px !important;
}

.side_bar_main.gx-mb-4 {
    margin-bottom: 20px !important;
}

.notification_icn {
    font-size: 20px;
    position: relative;
}

.notification_icn .doller-icon {
    top: -10px;
    left: -10px;
    position: absolute;
    min-width: 22px;
    padding: 2px 6px 2px 6px;
    background: limegreen;
    font-weight: 500;
    font-style: normal;
}

.notification_icn .doller-icon1 {
    top: -10px;
    left: -10px;
    position: absolute;
    max-width: 50px;
    padding: 2px 4px;
    background: limegreen;
}

.ant-badge .ant-badge-count {
    height: 13px;
    min-width: 13px;
    line-height: 13px;
    padding: 0 0px;
}

.side_bar_main .ant-badge-count {
    position: absolute;
    left: 10px;
    top: 0px;
}

.side_bar_main .ant-badge-count {
    height: 15px;
    border-radius: 50%;
    min-width: 15px;
    line-height: 15px;
    padding: 0;
    font-size: 10px;
    -webkit-transform: translate(30%, -30%);
    transform: translate(30%, -30%);
}

.side_bar_main .ant-badge-count {
    background: #038fdd;
}

.side_bar_main .gx-avatar-name {
    padding-right: 25px;
}

.bell_icon li {
    padding: 0;
    position: absolute;
    right: 25px;
}

.bell_icon .ant-badge {
    margin-bottom: 0px;
}

.submitButton {
    text-align: center;
}

.edit_ftr_1 .ant-radio-group {
    width: 100%;
    margin: 7px 0px 0;
}

.border_btm {
    border-bottom: 1px solid #e8e8e8;
    padding-bottom: 12px;
    margin-bottom: 10px !important;
}

.edit_ftr_1 .ant-radio-button-wrapper {
    width: 25%;
    text-align: center;
    font-size: 15px;
    font-weight: 400;
    color: #000;
}

.flag_device .edit_ftr_btn {
    margin-top: 16px;
}

.flag_device .ant-modal-body {
    padding: 8px 16px;
}

.ant-layout-sider-collapsed .gx-sidebar-notifications {
    padding: 15px 10px 5px;
}

.gx-app-nav li {
    padding: 0px 14px 0px 14px;
    font-size: 20px;
}

.lang_icon .ant-popover-inner-content {
    padding: 0;
}

.lang_icon .gx-language-text {
    margin: 4px 0 0 4px;
}

.lang_icon .gx-sub-popover {
    padding: 0;
    margin: 0;
}

.lang_icon .gx-sub-popover li {
    padding: 12px 12px;
}

.cred_badge {
    margin-bottom: 0;
}

.cred_badge .ant-badge-count {
    right: 0px;
    top: -3px;
    background-color: #52c41a;
    margin-bottom: 0;
    font-size: 11px;
    padding: 0px 4px;
}

.noClick {
    /* background-color: red; */
    pointer-events: none;
    opacity: 0.6;
}

@media screen and (max-width: 768px) {
    .edit_ftr_1 .ant-radio-button-wrapper {
        padding: 0;
    }
}