.gx-main-content-wrapper {
    padding: 16px 16px 0;
}

.modal_footer {
    display: flex;
    border-top: 1px solid #e8e8e8;
    justify-content: flex-end;
    padding-right: 16px;
}

.manage_sec .ant-card-body {
    padding: 16px;
    text-align: left;
}

.manage_sec1 .ant-card-body {
    padding: 16px;
    text-align: center;
}

.manage_sec .open_btn1 {
    width: 60%;
    margin-bottom: 0;
    margin-top: 12px;
}

.model_id_table td {
    text-align: center;
}

.priceText {
    line-height: 35px;
    min-width: 12px;
}

.labelTypeText {
    line-height: 35px;
    float: right;
}

.mng_d_btn {
    float: right;
    margin-right: 32px;
}

.ant-table-thead>tr>th,
.ant-table-tbody>tr>td {
    padding: 8px 8px !important;
}


.set_price .ant-tabs-nav {
    width: 100%;
    text-align: center;
}

.set_price .ant-tabs-tab {
    width: 48%;
    text-align: center;
}

.set_price_modal .ant-tabs.ant-tabs-card .ant-tabs-card-bar .ant-tabs-ink-bar {
    visibility: hidden;
}

.child_tabs .ant-tabs-tab {
    width: 100%;
    text-align: center;
}

.dup_table {
    height: 200px;
    overflow: overlay;
}

.set_price_table_tabs {
    position: relative;
}

.set_price .set_price_table_tabs .ant-tabs-tab {
    width: auto;
}

.set_price .set_price_table_tabs .ant-tabs-tab:first-child {
    margin-top: 8px;
}

.price_table {
    position: absolute;
    left: 66px;
    top: 56px;
    width: auto;
    right: 0;
}
/* 
.pkg_table {
    position: absolute;
    left: 0;
    top: 56px;
    width: auto;
    right: 0;
} */

.price_table1 {
    position: absolute;
    left: 100px;
    top: 56px;
    width: auto;
    right: 0;
}