/*------------START ENGLISH STYLE---------------*/
.devices.lng_eng .ant-table-thead>tr>th:nth-child(1) {
    min-width: 42px !important;
    max-width: 42px !important;
}

.devices.lng_eng .ant-table-tbody>tr>td:nth-child(1) {
    min-width: 42px !important;
    max-width: 42px !important;
}

.devices.lng_eng .ant-table-thead>tr:nth-child(1)>th:nth-child(3) {
    min-width: 191px;
    max-width: 191px;
}

.devices.lng_eng .counter_w {
    min-width: 32px !important;
}

.devices.lng_eng .counter_w_td {
    min-width: 32px !important;
    max-width: 32px !important;
}

.devices.lng_eng .remaning_days_w {
    min-width: 145px;
}

.devices.lng_eng .remaning_days_w_td {
    min-width: 145px;
}

.device_action_w {
    min-width: 174px !important;
    max-width: 174px !important;
}

.devices.lng_eng .device_id_w {
    min-width: 83px !important;
    max-width: 83px !important;
}

.devices.lng_eng .device_id_w_td {
    min-width: 100px !important;
    max-width: 100px !important;
}

.devices.lng_eng .user_id_w {
    min-width: 70px !important;
    max-width: 70px !important;
}

.devices.lng_eng .user_id_w_td {
    min-width: 87px !important;
    max-width: 87px !important;
}

.devices.lng_eng .status_w {
    min-width: 67px !important;
    max-width: 67px !important;
    white-space: normal !important;
}

.devices.lng_eng .status_w_td {
    min-width: 84px !important;
    max-width: 84px !important;
    max-width: 84px !important;
    white-space: normal !important;

}

.devices.lng_eng .online_w {
    min-width: 60px !important;
    max-width: 60px !important;
}

.devices.lng_eng .online_w_td {
    min-width: 77px !important;
    max-width: 77px !important;
}

.devices.lng_eng .flagged_w {
    min-width: 80px !important;
    max-width: 80px !important;
}

.devices.lng_eng .flagged_w_td {
    min-width: 97px !important;
    max-width: 97px !important;
}

.devices.lng_eng .name_w {
    min-width: 105px !important;
    max-width: 105px !important;
    white-space: normal !important;
}

.devices.lng_eng .name_w_td {
    min-width: 122px !important;
    max-width: 122px !important;
    white-space: normal !important;
}

.devices.lng_eng .account_email_w {
    max-width: 200px !important;
    min-width: 200px !important;
}

.devices.lng_eng .account_email_w_td {
    max-width: 217px !important;
    min-width: 217px !important;
    overflow: hidden;
    text-overflow: ellipsis;
}

.devices.lng_eng .client_id_w {
    min-width: 83px !important;
    max-width: 83px !important;
}

.devices.lng_eng .client_id_w_td {
    min-width: 100px !important;
    max-width: 100px !important;
}

.devices.lng_eng .activation_code_w {
    min-width: 132px !important;
    max-width: 132px !important;
}

.devices.lng_eng .activation_code_w_td {
    min-width: 149px !important;
    max-width: 149px !important;
}

.devices.lng_eng .pgp_email_w {
    min-width: 168px !important;
    max-width: 168px !important;
}

.devices.lng_eng .pgp_email_w_td {
    min-width: 185px !important;
    max-width: 185px !important;
    overflow: hidden;
    text-overflow: ellipsis;
}

.devices.lng_eng .sim_id_w {
    min-width: 82px !important;
    max-width: 82px !important;
}

.devices.lng_eng .sim_id_w_td {
    min-width: 99px !important;
    max-width: 99px !important;
}

.devices.lng_eng .chat_id_w {
    min-width: 75px !important;
    max-width: 75px !important;
}

.devices.lng_eng .chat_id_w_td {
    min-width: 92px !important;
    max-width: 92px !important;
}

.devices.lng_eng .dealer_id_w {
    min-width: 84px !important;
    max-width: 84px !important;
}

.devices.lng_eng .dealer_id_w_td {
    min-width: 101px !important;
    max-width: 101px !important;
}

.devices.lng_eng .dealer_name_w {
    min-width: 130px !important;
    max-width: 130px !important;
}

.devices.lng_eng .dealer_name_w_td {
    min-width: 147px !important;
    max-width: 147px !important;
    white-space: normal !important;
}

.devices.lng_eng .dealer_pin_w {
    min-width: 92px !important;
    max-width: 92px !important;
}

.devices.lng_eng .dealer_pin_w_td {
    min-width: 109px !important;
    max-width: 109px !important;
}

.devices.lng_eng .mac_address_w {
    min-width: 112px !important;
    max-width: 112px !important;
}

.devices.lng_eng .mac_address_w_td {
    min-width: 129px !important;
    max-width: 129px !important;
}

.devices.lng_eng .imei_1_w {
    min-width: 107px !important;
    max-width: 107px !important;
}

.devices.lng_eng .imei_1_w_td {
    min-width: 124px !important;
    max-width: 124px !important;
}

.devices.lng_eng .sim_1_w {
    min-width: 143px !important;
    max-width: 143px !important;
}

.devices.lng_eng .sim_1_w_td {
    min-width: 160px !important;
    max-width: 160px !important;
}

.devices.lng_eng .imei_2_w {
    min-width: 107px !important;
    max-width: 107px !important;
}

.devices.lng_eng .imei_2_w_td {
    min-width: 124px !important;
    max-width: 124px !important;
}

.devices.lng_eng .sim_2_w {
    min-width: 138px !important;
    max-width: 138px !important;
}

.devices.lng_eng .sim_2_w_td {
    min-width: 155px !important;
    max-width: 155px !important;
}

.devices.lng_eng .serial_number_w {
    min-width: 135px !important;
    max-width: 135px !important;
}

.devices.lng_eng .serial_number_w_td {
    min-width: 152px !important;
    max-width: 152px !important;
}

.devices.lng_eng .model_w {
    min-width: 121px !important;
    max-width: 121px !important;
}

.devices.lng_eng .model_w_td {
    min-width: 138px !important;
    max-width: 138px !important;
}

.devices.lng_eng .s_dealer_w {
    min-width: 105px !important;
    max-width: 105px !important;
}

.devices.lng_eng .s_dealer_w_td {
    min-width: 122px !important;
    max-width: 122px !important;
}

.devices.lng_eng .s_dealer_name_w {
    min-width: 135px !important;
    max-width: 135px !important;
}

.devices.lng_eng .s_dealer_name_w_td {
    min-width: 152px !important;
    max-width: 152px !important;
    white-space: normal !important;
}

.devices.lng_eng .start_date_w {
    min-width: 90px !important;
    max-width: 90px !important;
}

.devices.lng_eng .start_date_w_td {
    min-width: 107px !important;
    max-width: 107px !important;
}

.devices.lng_eng .expiry_date_w {
    min-width: 90px !important;
    max-width: 90px !important;
}

.devices.lng_eng .expiry_date_w_td {
    min-width: 107px !important;
    max-width: 107px !important;
}

/*------------END ENGLISH STYLE---------------*/