# Created by .ignore support plugin (hsz.mobi)
.git/
.idea/
yarn.lock
node_modules/
/nbproject/private/
npm-debug.log
build/
.editoryconfig
.vscode
build/static/js/runtime~main.fdfcfda2.js
build/asset-manifest.json
build/index.html
build/service-worker.js
package-lock.json