.supportModuleMainTab .ant-tabs-extra-content {
  width: 550px;
}

.supportModuleMainTab .ant-tabs-bar {
  margin: 0;
}

.supportModuleMainTab .ant-table-bordered .ant-table-body>table {
  border-top: 0;
}

.font15 {
  font-size: 15px;
}

.font16 {
  font-size: 16px;
}

.justify {
  text-align: justify;
}

.top10 {
  margin-top: 10px;
}

.top15 {
  margin-top: 15px;
}

.support_sel_dd {
  width: 25%;
  margin-right: 1%;
  float: right;
}

.support_sel_dd>.ant-select-selection {
  background-color: #dedede;
}

.right10 {
  margin-right: 10px;
}

.display-float {
  display: block;
  float: left;
}

.float-left {
  float: left;
}

.word-break {
  word-break: break-all;
}

.text-area-height {
  height: calc(100vh - 335px) !important;
}

.text-area-height.no-reply {
  height: calc(100vh - 225px) !important;
}

.button-ticket-reply-send {
  height: 100px !important;
}
