.policy_icon {
    font-size: 40px;
    border: 4px solid #038fdd;
    border-radius: 50%;
    padding: 15px;
    background: #036;
    color: #9dceff;
}

.exp_row {
    background: #e6faff !important;
}

.manage_sec .ant-card-body {
    height: 245px;
    position: relative;
}

.manage_sec .open_btn {
    width: 40%;
    position: absolute;
    bottom: 33px;
    left: 33%;
}

.permiss_tabl .ant-table-thead>tr>th {
    padding: 8px 8px;
}

.permiss_tabl .ant-modal-body {
    padding: 16px 16px;
}

.helping_txt {
    font-size: 16px;
    line-height: 0;
    color: #4b87c8;
    margin-left: 12px;
    vertical-align: middle;
    cursor: pointer;
}

.expand_rows td {
    background: #fff;
}

.apk_fix_card .expand_rows {
    border-left: 1px solid #e8e8e8;
    border-top: 1px solid #e8e8e8;
}

.more_txt1 {
    margin-top: 4px !important;
}

.d_tool_pup .ant-modal-body {
    padding: 8px 16px;
}

.d_t_m {
    height: 100%;
    padding: 8px 12px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.apk_list_card ::-webkit-scrollbar {
    width: 0;
}

.feat_btns {
    background: #fff;
    padding: 16px 16px;
}

@media (max-width: 768px) {
    .mob_m_t {
        margin-top: 0;
    }
}

@media (max-width:1335px) and (min-width:768px) {
    .manage_sec .ant-card-body {
        height: 280px;
    }

    .policy_icon {
        font-size: 22px !important;
        padding: 12px !important;
    }
}

/* Table for mobile view*/

/*
@media only screen and (max-width: 768px) {

    table {
        width: 100%;
    }

    .ant-table-bordered .ant-table-body>table {
        border-left: 0 !important;
        border-top : 0 !important;
    }

    table,
    thead,
    tbody,
    th,
    td,
    tr {
        display: block;
    }

    thead tr {
        position: absolute;
        top     : -9999px;
        left    : -9999px;
    }

    tr {
        border       : 1px solid #e8e8e8;
        margin-top   : 12px;
        border-bottom: 0;
        border-right : 0;
    }

    tr:nth-of-type(odd) {
        background: #fafafa;
    }

    td {
        border       : none;
        border-bottom: 1px solid #eee;
        position     : relative;
        text-align   : left;
    }

    custom:before {
        position   : absolute;
        top        : 0;
        left       : 16px;
        width      : 45%;
        bottom     : 0;
        font-size  : 13px;
        content    : attr(data-column);
        color      : #000;
        font-weight: 500;
        text-align : left;
        display    : flex;
        align-items: center;
    }

    tr.ant-table-expanded-row td:first-child {
        padding-left: 8px !important;
    }

    .expand_rows .ant-table-tbody>tr>td,
    .ant-table-tbody>tr>td {
        padding-left: 50% !important;
        text-align  : left;
        font-size   : 13px;
        font-weight : 400;
    }

    .ant-table-tbody>tr>td.row {
        margin: 0;
    }


} */