.list_d_down {
    font-size: 25px;
    position: relative;
    left: 25px;
    bottom: 57px;
    z-index: 100;
}

.action_group .ant-table {
    color: #545454;
    position: relative;
    bottom: 56px;
}

.ant-table-thead>tr>.device_value {
    padding: 2px 8px 2px 16px;
}

.applist_menu .ant-checkbox-wrapper {
    font-size: 14px;
    font-weight: 400;
    margin-top: 8px;
}

.side_action .ant-btn>span {
    margin-left: 8px;
    font-size: 13px;
}

.applist_menu .ant-checkbox-wrapper:first-child {
    margin-top: 0;
}

.list_d_down .ant-popover-inner-content {
    box-shadow: 0px 6px 25px #dedede
}

.clr_red {
    color: #FE4E51 !important;
}

.clr_orange {
    color: #FF861C !important;
}

.clr_green {
    color: green !important;
}

.make_red {
    color: red;
}

.mb-0 {
    margin-bottom: 0 !important;
}

.captilize {
    text-transform: capitalize;
}

.side_action .ant-btn {
    border-radius: 8px !important;
}

.gx-customizer-option .ant-btn {
    display: none;
}

.first_head {
    margin-top: -27px;
}

.first_head h5 {
    margin-top: 8px;
}

.sec_set_table img {
    height: 30px;
}

.perm_icons {
    background: #000 !important;
    padding: 6px;
    width: 30px;
    height: 30px;
}

.perm_icons img {
    height: auto;
}



.first_head img {
    height: 30px;
    float: right;
}

.sec_head {
    margin: 4px 8px 6px;
    border-top: 1px solid #e8e8e8;
    padding: 12px 0;
    border-bottom: 1px solid #e8e8e8;
}

.sec_head .ant-switch {
    vertical-align: sub;
}

.sec_head span {
    margin-right: 4px;
    font-size: 14px;
}

.sec_head .ant-col-8 {
    text-align: center;
    padding: 0;
}

.sec_set_table {
    margin: 33px auto 0;
}

.sec_set_table .ant-table-body {
    margin-left: 1px;
    margin-right: 8px;
    width: 100%;
}

.sec_set_table .ant-table-scroll {
    width: 295px;
    margin: 0 auto;
}

.lock_icon {
    border-right: 1px solid #ccc;
    position: absolute;
    left: 0;
    top: 4px;
    padding: 6px 8px 2px 12px;
    text-align: left !important;
}

.sec_set_table .ant-table-tbody>tr>td {
    font-size: 13px !important;
    text-align: left !important;
    padding: 6px 22px 6px 10px !important;
    width: 100% !important;
}

.imei_heading {
    margin-bottom: 0;
    line-height: 30px;
    text-align: center;
}

.imei_table .ant-table-thead>tr>th {
    background: #fafafa;
}

.imei_col_11 {
    border: 1px solid #e8e8e8;
    margin: 0 auto !important;
    margin-bottom: 16px !important;
}

.imei_col_11 .ant-table-tbody>tr>td {
    padding: 8px 8px;
}

.imei_col_11 .ant-table-thead>tr>th {
    padding: 8px 8px;
    white-space: nowrap;
}

.activities .ant-modal-body {
    max-height: 560px;
    overflow: overlay;
}

.load_policy_popup .ant-modal-title {
    text-transform: capitalize;
}

.load_policy_popup .ant-table-thead {
    text-transform: uppercase;
}

.load_policy_popup tr {
    background: white;
}

@media (max-width:1330px) and (min-width:1200px) {
    .sec_set_table .ant-table-tbody>tr>td {
        padding: 6px 10px 6px 10px !important;
    }

    .lock_icon {
        padding: 6px 5px 2px 6px;
    }
}