.devices table th {
    white-space: nowrap !important;
    font-size: 13px;
    text-align: center;
}

.devices .ant-table-tbody>tr>.devices1 {
    text-align: left;
    padding-left: 48px !important;
    width: 130px;
}

.m_d_table_tabs {
    position: relative;
}

.manage_data .ant-tabs-bar {
    margin: 0;
}

.m_d_table {
    position: absolute;
    left: 82px;
    top: 16px;
    width: auto;
    right: 16px;
    border-top: 1px solid #e8e8e8;
    border-left: 1px solid #e8e8e8;
}

.manage_data .ant-tabs-tab {
    margin-right: 0 !important;
}

@media screen and (max-width: 768px) {
    .devices .ant-table-tbody>tr>.devices1 {
        padding-left: 5.5% !important;
    }
}