.sm_top_heading {
    border: 1px solid #e8e8e8;
    border-radius: 8px;
    padding: 4px 10px 4px;
    margin: 0 auto 0;
    text-align: center;
    background: #f5f5f5;
}

.transfer_box {
    text-align: center;
}

.transfer_box .ant-transfer-list {
    width: 44%;
    height: 500px;
}

.transfer_box .ant-transfer-list-content-item {
    text-align: left;
    margin: 0;
    border-bottom: 1px solid #e8e8e8;
}

.transfer_box .LazyLoad.is-visible {
    height: 45px !important;
}

.transfer_box .ant-transfer-list-header {
    text-align: left;
}

.transfer_box .ant-btn-sm {
    height: 40px;
    padding-left: 12px !important;
    padding-right: 12px !important;
    margin-bottom: 16px !important;
    line-height: 40px !important;
}

.transfer_box .ant-transfer-list-body-with-search {
    padding-top: 40px;
}

.ant-transfer-operation .ant-btn .anticon {
    font-size: 14px;
}

.transfer_box .ant-transfer-operation {
    margin: 0 16px;
}

.sm_header {
    width: 50%;
    float: left;
}

.sm_heading1 {
    text-align: left;
    margin-top: 8px;
}

.sm_uninstall {
    float: right;
    margin-top: 8px;
    padding: 0 4px;
}


.guestTable .sm_uninstall,
.encryptedTable .sm_uninstall {
    float: none;
    margin-top: 0;
    padding: 0 4px;
}

.sm_uninstall .ant-switch-inner {
    margin-left: 12px;
    margin-right: 3px;
}

.sm_uninstall.ant-switch-checked .ant-switch-inner {
    margin-left: 3px;
    margin-right: 13px;
}

.sm_labels {
    vertical-align: middle;
    margin-left: 0;
    white-space: normal;
}



@media screen and (max-width: 768px) {
    .transfer_box .ant-transfer-list {
        width: 100%;
    }

    /* .sm_heading1 {
    display: none;
} */

    .sm_heading2 {
        display: inline-block;
    }
}