.ac_status_table .ant-row {
    margin-left: 0 !important;
    margin-right: 0 !important;
}

.credit_popup .weight_600 {
    font-weight: 600;
    margin: 0;
    white-space: normal;
}

.credit_modal_heading {
    background: #ddebf7;
    padding: 2px 2px;
    margin-bottom: 0;
    text-align: center;
}

.restricted_by {
    font-weight: 600;
    margin: 0;
    white-space: nowrap;
    padding: 8px 8px;
    background: #efe4b0;
}

.ac_st_info {
    background: #ffd966;
    padding: 8px 0;
    margin-bottom: 0;
}