@media screen and (min-width: 961px) {

  .gx-chat-list-scroll.support-chat-list-scroll {
    height: calc(100vh - 391px) !important;
  }

  .gx-chat-sidenav-scroll-tab-1.gx-support-chat-list-scroll, .gx-chat-sidenav-scroll-tab-2.gx-support-chat-list-scroll {
    height: calc(100vh - 420px) !important;
  }

  .gx-main-content.support-chat-content {
    height: calc(100vh - 235px) !important;
  }

  .gx-comment-box.support-comment-box {
    height: calc(100vh - 210px) !important;
  }
}

.gx-chat-btn.support-chat-small {
  font-size: 18px !important;
  margin-right: 0 !important;
}

textarea.gx-chat-textarea {
  resize: none;
}
