.ac_card .ant-card-head {
    background: #f7f7f7;
}

.ac_card .ant-card-body {
    padding: 0 !important;
}

.ac_card .ant-card-head-title {
    text-align: center;
    font-size: 20px;
}

.manage_data .ant-modal-body {
    padding: 0 16px;
}

.ac_card .exp_btn {
    margin-right: 0;
    margin-bottom: 0;
    line-height: 22px !important;
    width: 50px;
}

.exp_btn:last-child {
    margin-bottom: 0;
}

.ac_card .imp_btn {
    margin-right: 16px;
    margin-bottom: 16px;
    line-height: 22px !important;
    width: 50px;
}

.imp_btn:last-child {
    margin-bottom: 0;
}

.headings {
    font-size: 14px;
    line-height: 25px;
}

.p-0 {
    padding: 0;
}

.inline_b {
    display: inline-block;
    width: 100%
}

.profile_table .ant-card-bordered {
    margin-bottom: 0;
    border: 0;
}

.profile_table .ant-table-body {
    max-height: fit-content;
}

.diamond_icon {
    color: #ccc;
    margin-right: 6px;
}

.coming_s_a {
    line-height: 130px;
    text-align: center;
    font-size: 30px;
    color: #b5b5b5;
    margin: 6px 0;
    font-weight: 600;
}

.coming_s {
    line-height: 100px;
    text-align: center;
    font-size: 30px;
    color: #b5b5b5;
    margin: 6px 0;
}

.manage_ac h5 {
    line-height: 18px;
}

.manage_ac .ant-card-body {
    height: 320px;
    position: relative;
}

.more_txt {
    margin-top: 16px !important;
}

.crd_txt {
    margin: 14px 0;
}

.crd_txt p {
    margin: 4px 0;
    font-size: 15px;
}

.m_d_pop .ant-modal-body {
    padding: 16px 16px;
}

.m_d_pop .ant-table {
    border: 1px solid #e8e8e8;
}

.m_d_pop .ant-table-thead>tr>th {
    padding: 8px 8px !important;
}

.search_heading1 input {
    font-size: 12px;
    font-weight: 300;
    padding: 5px;
    padding-right: 18px !important;
    height: 26px;
}

.search_heading2 .ant-select-selection--single,
.pagination1 .ant-select-selection--single {
    height: 26px;
    font-size: 12px;
    font-weight: 300;
}

.search_heading1 .ant-input-affix-wrapper {
    font-size: 12px;
    color: #e8e8e8 !important;
}

.pagination1 .ant-select-selection__rendered,
.search_heading2 .ant-select-selection__rendered {
    font-size: 12px;
    display: block;
    margin-left: 11px;
    margin-right: 11px;
    position: relative;
    line-height: 25px;
}

.warning {
    color: orange;
    font-size: 20px;
    vertical-align: sub;
    margin-right: 4px;
}

.warning_hr hr {
    border: 1px solid #e8e8e8;
}

.pr-8 {
    padding-right: 8px;
}

.pl-8 {
    padding-left: 8px;
}

.font-12 {
    font-size: 12px;
}

.contenar {
    position: relative;
    width: 100%;
}

.image_1 {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
}

.middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 49.5%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
    width: 100%;
}

.contenar:hover .image {
    opacity: 0.3;
}

.contenar:hover .middle {
    opacity: 1;
}

.text {
    background-color: #00000096;
    color: #fff;
    font-size: 28px;
    font-weight: 600;
    border-radius: 12px;
    white-space: nowrap;
    line-height: 260px;
}

.text2 {
    line-height: 228px;
}

.lock_icon2 {
    border-right: 1px solid #ccc;
    position: absolute;
    left: 0;
    top: 12px;
    padding: 6px 8px 6px 20px;
    text-align: left !important;
}

.and_icon {
    font-size: 40px;
    border: 4px solid #038fdd;
    border-radius: 50%;
    padding: 15px;
    background: #036;
    color: #9dceff;
}

.back_db {
    text-align: center !important;
}

.back_db .ant-modal-footer {
    text-align: center;
}

@media screen and (max-width: 992px) {
    .ac_card {
        width: 100%;
    }

    .p-0 {
        padding: 0 16px;
    }

    .text {
        line-height: 200px;
    }
}

@media screen and (max-width: 500px) {
    .headings {
        display: block;
    }
}

@media (max-width:1335px) and (min-width:768px) {
    .manage_ac .ant-card-body {
        height: 410px;
        position: relative;
    }

    .and_icon {
        font-size: 18px !important;
        padding: 12px !important;
    }

    .text {
        line-height: 338px;
    }
}

@media screen and (max-width: 768px) {
    .text {
        line-height: 260px;
    }
}

.disp_in_flex {
    display: inline-flex
}