.devices table th {
    white-space: nowrap !important;
    font-size: 13px;
    text-align: center;
}

.devices table td {
    white-space: nowrap !important;
}

.devices .ant-table-tbody>tr>.devices1 {
    text-align: left;
    padding-left: 48px !important;
    width: 130px;
}

.manage_data {
    float: left;
    width: 6.2%;
    position: absolute;
    right: 0px;
    left: 0px;
}

.manage_data .ant-tabs-bar {
    margin: 0;
}

.m_d_table {
    border-left: 1px solid #e8e8e8;
    height: 458px;
    overflow: overlay;
    float: right;
    width: 93.8%;
}

.manage_data .ant-tabs-tab {
    margin-right: 0 !important;
}

@media screen and (max-width: 768px) {
    .devices .ant-table-tbody>tr>.devices1 {
        padding-left: 5.5% !important;
    }

    .manage_data {
        float: left;
        width: 9.2%;
    }

    .m_d_table {
        width: 90.8%;
    }
}