.msgList .ant-table-tbody>tr>td {
    white-space: normal;
}

.s_m_form .ant-form-item-label {
    padding: 0 16px;
}

.s_m_form .ant-tag {
    margin-bottom: 0;
}

.s_m_ftr_btn {
    text-align: right;
    padding: 8px 0;
    margin-bottom: 0px !important;
    margin-top: 16px;
    position: absolute;
    bottom: -50px;
    right: 15px;
    width: 100%;
    background: #fff;
    border-top: 1px solid #e8e8e8;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    z-index: 10;
}