.upload_apk_popup .ant-modal-body {
    padding: 0;
}

.upload_file .ant-row {
    display: unset;
}

.ant-row.ant-form-item.upload_file {
    margin-bottom: 12px;
}

.upload_file label {
    margin: 0;
    line-height: 42px;
}

.upload_file>[class*=ant-col-] {
    padding: 0px 4px;
}

.upload_file .upload_btn {
    background: #e1e1e1;
    border: 1px solid #adadad;
}

.upload_file .ant-upload {
    width: 100%;
}

.upload_file .apk_size {
    margin-top: 13px;
    font-weight: 400;
    color: #777777;
    font-size: 14px;
}

.modal_footer {
    display: flex;
    border-top: 1px solid #e8e8e8;
    justify-content: flex-end;
    padding-right: 16px;
}

.modal_footer .submitButton {
    margin-top: 16px;
}

.upload_file .upload_btn:hover,
.upload_file .upload_btn:focus,
.upload_file .upload_btn:active {
    background: #e1e1e1 !important;
    border: 1px solid #adadad;
    color: #545454;
}

.ant-upload.ant-upload-drag p.ant-upload-drag-icon .anticon {
    font-size: 36px !important;
}

@media screen and (max-width: 768px) {
    .upload_file>[class*=ant-col-] {
        padding: 0px 16px;
    }
}