.deviceImg {
    width: 311px;
    margin: 0 auto;
    height: 592px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
    border-radius: 26px;
    position: relative;
    border: 6px solid #292929;
}

.deviceImg .not_syn_txt {
    position: absolute;
    top: 45%;
    left: 0;
    right: 0;
    bottom: 0;
    text-align: center;
    line-height: 30px;

}

.dev_back_btn {
    position: absolute;
    top: 36px;
    left: 10px;
}

.status_bar {
    border-bottom: 1px solid #cccccc;
    padding-top: 42px;
    text-align: center;
    margin: 0px 0px 26px 0px;
}

.status_bar h5 {
    padding: 5px 0 4px;
    margin-bottom: 0;
}

.offline_st {
    border: 1px solid #ccc;
    background: #e5e5e5;
}

.active_st {
    border: 1px solid #ccc;
    border-right: 0;
    background: #e5e5e5;
}

.active_st h5 {
    color: green;
}

.offline_st h5 {
    color: red;
}

.pt-60 {
    padding-top: 60px;
}

.pt-42 {
    padding-top: 42px;
}

.nav_btn_grp {
    position: absolute;
    bottom: 3px;
    width: 100%;
}

.nav_btn {
    margin-top: 0 !important;
    width: 33%;
    background-color: transparent !important;
    border: none !important;
    margin: 0;
}

.nav_btn:active {
    color: #c8c8c8;
    background-color: #fff;
}

.nav_btn .back_btn {
    line-height: 0;
    font-size: 26px;
    margin-top: 10px;
    color: #8a8a8a;
    margin-left: 15px;
}

.ant-table-tbody>tr>td {
    font-size: 12px;
    text-align: center;
    padding: 8px 8px !important;
    font-weight: 300;
    white-space: nowrap;
}

.deviceImg .ant-table-scroll {
    width: 298px;
    margin: 0;
    border-radius: 0px;
    /* padding-top: 23px; */
    margin-top: 23px;
}

.ant-table-small {
    border-radius: 6px;
}

.deviceImg .ant-table-scroll th {
    /* border-top-left-radius: 6px; */
    font-size: 12px;
    text-align: center !important;
    white-space: nowrap;
    height: 45px;
    padding: 0 8px !important;
}

.action_btn {
    height: 30px;
    margin-top: 0 !important;
    margin-right: 0 !important;
    margin-bottom: 0 !important;
    width: 25.2%;
    padding: 0;
    line-height: 20px;
    border-radius: 0 !important;

}

.act_b_grp.ant-btn-group .ant-btn {
    padding: 0;
}

.act_b_grp .action_btn {
    border-radius: 0 !important;
}

.act_b_grp .ant-btn>.anticon+span {
    margin-left: 4px;
    font-size: 11px;
}

.act_b_grp {
    margin-right: 0 !important;
    width: 100.1%;
    position: absolute;
    bottom: 45px;
    left: 0px;
}

.action_btn i {
    vertical-align: bottom;
}

.action_btn .ant-btn>.anticon+span {
    margin-left: 4px;
}

.deviceImg .ant-table-thead>tr>th {
    padding: 0 4px 0 4px !important;
    font-size: 12px;
    width: 60%;
}

.sec_set_table .ant-table-thead>tr>th {
    font-size: 13px !important;
    padding: 0px 6px !important;
    width: 100% !important;
}

th.device_info {
    font-size: 13px;
    padding: 4px 4px !important;
}

.exp_row {
    background: #e6faff !important;
}

.left_bar .ant-table-tbody>tr>td {
    text-align: left;
    padding: 8px 4px 8px 16px !important;
}

.action_group .ant-btn-group {
    display: block
}

.ant-list {
    font-size: 13px;
}

.ant-switch-small {
    vertical-align: bottom;
}

.deviceImg .ant-spin-container {
    width: 299px;
    margin: 0px auto;
    padding: 0;
}

.deviceImg .dev_main_menu {
    padding-top: 0;
}

.deviceImg .ant-list-item {
    padding: 16px 16px;
    font-size: 14px;
}

.deviceImg .ant-list-item:last-child {
    border-bottom: 1px solid #e8e8e8 !important;
}

.line_break1 {
    width: 60px;
    margin: 0 auto;
    /* display : inline-block; */
    text-align: center;
    white-space: normal;
}

.line_break {
    width: auto;
    margin-left: 8px;
    display: inline-block;
    vertical-align: middle;
}

.line_break .perm_txt {
    font-size: 12px;
}

.deviceImg .ant-form {
    width: 200px;
    margin: 0 auto;
    text-align: center;
}

.deviceImg .ant-input-affix-wrapper {
    margin-bottom: 4px;
}

.deviceImg .ant-input {
    color: #038fde;
    background-color: #fff;
    background-image: none;
    border: none;
    border-radius: 0;
    border-bottom: 1px solid;
    border-color: #ccc !important;
    text-align: center;
    margin-bottom: 0;
    height: 26px;
}

.deviceImg .ant-input:focus {
    border-color: #038fde !important;
    box-shadow: 0 0 0 2px rgba(23, 23, 23, 0);
}

.anticon-eye {
    font-size: 20px;
    color: #ccc;
}

.anticon-eye-invisible {
    font-size: 20px;
    color: #ccc;
}

.deviceImg .ant-form-item-control-wrapper {
    margin-top: 16px;
}

.left_bar .ant-card-body {
    padding: 0 !important;
}

.right_bar .ant-card-body {
    padding: 16px 16px 0 !important;
}

.right_bar .anticon {
    margin-right: 8px;
    vertical-align: sub;
}

.right_bar .search_dev_id .ant-card-body {
    padding: 8px 14px 14px !important;
}

.apklist_table .ant-table-thead>tr>th {
    text-align: center;
    font-size: 13px;
    padding: 12px 8px;
}

.device_value {
    text-align: left !important;
    white-space: normal !important;
}

.ref-btn {
    display: inline-flex;
    margin: 12px 0;
    position: absolute;
    right: 15px;
}

.ref-btn .anticon {
    margin-right: 3px;
}

.ref-btn .loading_icon {
    display: none;
}

.device_info {
    text-align: right !important;
}

.device_value {
    font-size: 13px;
}

.deviceImg .dev_main_menu .ant-spin-container {
    width: 295px !important;
}

.ant-modal-confirm .ant-modal-body {
    padding: 24px 24px 16px;
}

.sec_head1 {
    border-top: 1px solid #e8e8e8;
    padding: 12px 0;
    border-bottom: 1px solid #e8e8e8;
}

.sec_head1 span {
    margin-right: 10px;
}

.prog,
.prog .ant-progress-circle {
    margin-right: 0 !important;
    margin-bottom: 0 !important
}

@media (max-width:1330px) and (min-width:1200px) {
    .deviceImg {
        width: 270px;
        border: 6px solid #07090b;
        border-bottom: 0;
    }

    .deviceImg .dev_main_menu .ant-spin-container {
        width: 258px !important;
    }

    .status_bar {
        margin: 0px 0px 27px 0px;
        padding-top: 61px;
    }

    .deviceImg .ant-table-scroll {
        width: 257px;
    }

    .deviceImg .ant-spin-container {
        width: 258px;
    }

    .deviceImg .ant-table-thead>tr>th {
        padding: 0 7px 0 5px !important;
        font-size: 10px;
        width: 90%;
    }

    .sec_head {
        margin: 4px 0px 6px;
    }
}