.devices table th {
    white-space: nowrap !important;
    font-size: 13px;
    text-align: center;
    text-transform: uppercase;
}

.devices .ant-table-tbody>tr>.devices1 {
    text-align: left;
    padding-left: 48px !important;
    width: 130px;
}

.exp_row {
    background: #e6faff !important;
}

@media screen and (max-width: 768px) {
    .devices .ant-table-tbody>tr>.devices1 {
        padding-left: 5.5% !important;
    }
}